[Unit]
Description=NFT API Service
After=network.target

[Service]
ExecStart=/usr/local/bin/nftapi2
Restart=always
User=nobody
Group=nogroup

[Install]
WantedBy=multi-user.target
